.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #111;
  padding: 15px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.Navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.Navbar a:hover {
  color: orange;
}
