
 /* body {

      font-family: 'Times New Roman', Times, serif;

      margin: 0;

      background-color: #f0f0f0;

    }
    .app-container {
  display: flex;
  justify-content: center;  /* horizontal center */
   /*align-items: flex-start;  /* vertical alignment */

   /*

   gap: 20px;                /* space between cards */

/* Reset body margin/padding */
